/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  /* line-height: 1; */
  font-family: Montserrat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

/* CSS 스타일 지정 */
.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px 0;
}
.gnb-list {
  display: flex;
}
.gnb-list-item {
  height: 60px;
  margin-left: 60px;
  position: relative;
}
.gnb-list-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.gnb-depth2 {
  position: absolute;
  background: #f9f9f9;
  padding: 0 10px;
  border: 1px solid #333;
  top:30px;
  display: none;
}
.gnb-depth2.active {
  display: block;
}
.gnb-depth2-item {
  margin:10px 0;
}
.gnb-depth2-item > a {
  color: #555555;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
}
.main-slogan {
  height: 300px;
  background: #f5f5f5;
  padding-top: 100px;
  /* display: flex;
  justify-content: center; */
}
.section-heading {
  font-size: 38px;
  color: #171717;
  font-weight: 600;
  text-align: center;
}
.section-paragraph {
  width: 500px;
  text-align: center;
  margin: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12pt;
}
.mt20 {
  margin-top: 20pt;
}
.image-group {
  display: flex;
  justify-content: center;
}
.image-item {
  width: 340px;
  display: block;
}
.image-wrap {
  width: 340px;
  height: 256px;
  overflow: hidden;
  position: relative;
}
.image-item.video {
  width: 466px; /* width: auto; 로 처리할 수도 있다.*/
  height: 256px;
  position: absolute; /* position 을 사용한 가운데 배치 방법*/
  top: 50%;
  left: 50%;
  margin-top: -128px;
  margin-left: -233px;
}
